<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>
    <%- title %>
  </title>
  <link rel="stylesheet" href="./assets/style/all.css">
  <!-- google-fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap"
    rel="stylesheet">
  <link
    href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap"
    rel="stylesheet">
    <!-- animate.css -->
    <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
  />
    <!-- aos.css -->
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <!-- hover.css -->
    <link href="css/hover-min.css" rel="stylesheet">
</head>

<body>
  <header class="header">
    <a href="./index.html">
      <h1>
        <img src="./assets/images/logo-fixie.svg" alt="Fixie-logo">
      </h1>
    </a>
    <ul class="nav">
      <li><a href="#">Product</a></li>
      <li><a href="#">Blog</a></li>
      <li><a href="#">Contact</a></li>
    </ul>
  </header>

  <%- contents %>

    <footer class="footer">
      <div class="container">
        <div class="footer-content">
          <ul class="footer-nav">
            <a href="#">
              <li>Product</li>
            </a>
            <a href="#">
              <li>Blog</li>
            </a>
            <a href="#">
              <li>contact</li>
            </a>
          </ul>
          <p>© 2020 Fixie. All Rights Reserved.</p>
          <div class="footer-logo">
            <h1>
              <a href="./index.html">
                <img src="./assets/images/logo-fixie.svg" alt="Fixie-ogo">
              </a>
            </h1>
          </div>
        </div>
      </div>
    </footer>
    <!-- 順序也會有影響效果 -->
    <script src="./assets/js/vendors.js"></script>
    <!-- aos.js -->
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script src="./assets/js/all.js"></script>
    
</body>

</html>